<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>filterClass</key>
		<string>GPUImageBrightnessFilter</string>
		<key>filterName</key>
		<string>亮度</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageExposureFilter</string>
		<key>filterName</key>
		<string>曝光</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageContrastFilter</string>
		<key>filterName</key>
		<string>对比度</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageSaturationFilter</string>
		<key>filterName</key>
		<string>饱和度</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageGammaFilter</string>
		<key>filterName</key>
		<string>伽马线</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageColorInvertFilter</string>
		<key>filterName</key>
		<string>反色</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageSepiaFilter</string>
		<key>filterName</key>
		<string>褐色（怀旧)</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageLevelsFilter</string>
		<key>filterName</key>
		<string>色阶</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageGrayscaleFilter</string>
		<key>filterName</key>
		<string>灰度</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageHistogramFilter</string>
		<key>filterName</key>
		<string>色彩直方图</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageHistogramGenerator</string>
		<key>filterName</key>
		<string>色彩直方图</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageRGBFilter</string>
		<key>filterName</key>
		<string>RGB</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>色调曲线</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageMonochromeFilter</string>
		<key>filterName</key>
		<string>单色</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageOpacityFilter</string>
		<key>filterName</key>
		<string>不透明度</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageHighlightShadowFilter</string>
		<key>filterName</key>
		<string>提亮阴影</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageFalseColorFilter</string>
		<key>filterName</key>
		<string>色彩替换</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageHueFilter</string>
		<key>filterName</key>
		<string>色度</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageChromaKeyFilter</string>
		<key>filterName</key>
		<string>色度键</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageWhiteBalanceFilter</string>
		<key>filterName</key>
		<string>白平横</string>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageAverageColor</string>
		<key>filterName</key>
		<string>像素平均色值</string>
	</dict>
</array>
</plist>
